:root {
    --text-color:#303030;
    --robot-family:Roboto, sans-serif;
    --heebo-family:Heebo, sans-serif;
}

html {
    font: 16px;
}

body {
    margin: 0px;
    font-family: var(--robot-family);
}

.icon-color {
    color:rgb(29, 191, 193);
    font-size: 1.2rem;
}


/*Footer  Css Start */
.zq-footer {
    color:var(--text-color);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

.zq-footer-container {
    border-top:1px solid #e5e5e5;
    width: 100vw;
    display: flex;
    height: 5rem;
    background-color: white;
}

.zq-media a {
    margin: 0 0.5rem;
}
/*Footer  Css End*/

/* Header Css Start */
.zq-header-container {
    height: 8rem;
    display: flex;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0px ;
    left: 0px;
}

.zq-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.zq-routes a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color:#3a3a3a;
    font-weight: 300;
}

.zq-logo {
    height: 100px;
    font-size: 2rem;
    background-image: url(./assets/zq-logo.png);
    width: 100px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100%;
}

.zq-routes {
    display: flex;
    align-items: center;
}
/* Header Css End */